@model EscolaInfoSys.Models.Subject
@{
    ViewData["Title"] = "Edit Subject";
}
<h2 class="page-title">Edit Subject</h2>

<div class="card">
    <div class="card-body">
        <form asp-action="Edit">
            <div asp-validation-summary="All" class="alert alert-danger"></div>
            <input type="hidden" asp-for="Id" />

            <div class="mb-3">
                <label asp-for="Name" class="form-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="CourseId" class="form-label"></label>
                <select asp-for="CourseId" class="form-select" asp-items="ViewBag.CourseId"></select>
                <span asp-validation-for="CourseId" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-success">Save</button>
            <a asp-action="Index" class="btn btn-link">Back</a>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
