@{
    ViewData["Title"] = "Reset Email Sent";
}

<div class="page-body">
    <div class="container">
        <div class="row justify-content-center mt-4">
            <div class="col-md-6">
                <div class="card card-md">
                    <div class="card-body text-center">
                        <h3 class="card-title mb-4"><i class="fa fa-envelope-open-text"></i> Reset Link Sent</h3>
                        <p>We have sent a link to your email address. Please check your inbox to reset your password.</p>
                        <a asp-action="Login" class="btn btn-primary mt-3"><i class="fa fa-sign-in-alt"></i> Back to Login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
 }
