@model EscolaInfoSys.Models.ViewModels.ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot Password";
}

<h2><i class="fa fa-unlock-alt me-2"></i>@ViewData["Title"]</h2>

<form asp-action="ForgotPassword" method="post" class="card p-4">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="mb-3">
        <label asp-for="Email" class="form-label"><i class="fa fa-envelope me-2"></i> Email</label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary"><i class="fa fa-paper-plane"></i> Send Reset Link</button>
</form>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
 }


