@{
    ViewData["Title"] = "Registration Confirmed";
}

<div class="container mt-5">
    <div class="alert alert-info">
        <i class="fa fa-check-circle"></i> A confirmation link has been sent to your email. Please check your inbox.
    </div>
</div>

