@model EscolaInfoSys.Models.Student

@{
    ViewData["Title"] = "Create Student";
}

<h2 class="page-title"><i class="fa fa-user-plus"></i> Create Student</h2>

<form asp-action="Create" method="post" enctype="multipart/form-data" class="card p-4 main-content">
      <div asp-validation-summary="ModelOnly" class="alert alert-danger mb-5"></div>
    <div class="mb-3">
        <label asp-for="FullName" class="form-label"></label>
        <input asp-for="FullName" class="form-control" />
        <span asp-validation-for="FullName" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="PupilNumber" class="form-label"></label>
        <input asp-for="PupilNumber" class="form-control" />
        <span asp-validation-for="PupilNumber" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Email" class="form-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label class="form-label"><i class="fa fa-image"></i> Profile Photo</label>
        <input type="file" name="ProfilePhotoFile" class="form-control" />
    </div>

    <div class="mb-3">
        <label class="form-label"><i class="fa fa-id-card"></i> Document Photo</label>
        <input type="file" name="DocumentPhotoFile" class="form-control" />
        <span asp-validation-for="DocumentPhoto" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="FormGroupId" class="form-label"></label>
        <select asp-for="FormGroupId" asp-items="ViewBag.FormGroupId" class="form-select">
            <option value="">-- Select Form Group --</option>
        </select>
        <span asp-validation-for="FormGroupId" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="CourseId" class="form-label"></label>
        <select asp-for="CourseId" asp-items="ViewBag.CourseId" class="form-select">
            <option value="">-- Select one Course to Include the Student --</option>
        </select>
        <span asp-validation-for="CourseId" class="text-danger"></span>
    </div>
        <div class="mt-4 sticky-bottom bg-white py-3">
        <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Create</button>
        <a asp-action="Index" class="btn btn-secondary"><i class="fa fa-arrow-left"></i> Cancel</a>
    </div>
</form>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
