@model EscolaInfoSys.Models.Student
@{
    ViewData["Title"] = "Create Student";
}

<h2 class="page-title">Create Student</h2>

<form asp-action="Create" method="post" enctype="multipart/form-data" class="card p-4">

    <div asp-validation-summary="All" class="alert alert-danger"></div>

    <div class="mb-3">
        <label asp-for="FullName" class="form-label"></label>
        <input asp-for="FullName" class="form-control" />
        <span asp-validation-for="FullName" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="PupilNumber" class="form-label"></label>
        <input asp-for="PupilNumber" class="form-control" />
        <span asp-validation-for="PupilNumber" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Email" class="form-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label class="form-label">Profile Photo</label>
        <input type="file" name="ProfilePhotoFile" class="form-control" />
    </div>

    <div class="mb-3">
        <label class="form-label">Document Photo</label>
        <input type="file" name="DocumentPhotoFile" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="FormGroupId" class="form-label"></label>
        <select asp-for="FormGroupId" asp-items="ViewBag.FormGroupId" class="form-select"></select>
    </div>

    <div class="mt-4">
        <button type="submit" class="btn btn-primary">Create</button>
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </div>
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
