@model EscolaInfoSys.Models.Student

@{
    ViewData["Title"] = "Delete Student";
}

<div class="card">
    <div class="card-header bg-danger text-white">
        <h3 class="card-title">
            <i class="fa fa-trash me-2"></i> Confirm Deletion
        </h3>
    </div>
    <div class="card-body">
        <h5>Are you sure you want to delete the following student?</h5>
        <dl class="row mt-3">
            <dt class="col-sm-3">Full Name</dt>
            <dd class="col-sm-9">@Model.FullName</dd>

            <dt class="col-sm-3">Student Number</dt>
            <dd class="col-sm-9">@Model.PupilNumber</dd>

            <dt class="col-sm-3">Email</dt>
            <dd class="col-sm-9">@Model.Email</dd>
        </dl>
    </div>
    <div class="card-footer">
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <button type="submit" class="btn btn-danger">
                <i class="fa fa-trash me-1"></i> Delete
            </button>
            <a asp-action="Index" class="btn btn-secondary">
                <i class="fa fa-arrow-left me-1"></i> Cancel
            </a>
        </form>
    </div>
</div>