@model IEnumerable<EscolaInfoSys.Models.Student>
@using Syncfusion.EJ2.Grids
@{
    ViewData["Title"] = "Students";
}

<h2><i class="fa fa-users"></i> Students</h2>
<a asp-action="Create" class="btn btn-primary mb-3"><i class="fa fa-user-plus"></i> Create New Student</a>

<ejs-grid id="StudentsGrid" dataSource="@Model" allowPaging="true" allowSorting="true" allowFiltering="true" toolbar="@(new List<string>() { "Search" })">
    <e-grid-columns>
        <e-grid-column field="FullName" headerText="Name" width="150"></e-grid-column>
        <e-grid-column field="PupilNumber" headerText="Pupil #" width="120"></e-grid-column>
        <e-grid-column field="Email" headerText="Email" width="180"></e-grid-column>
        <e-grid-column field="FormGroup.Name" headerText="Form Group" width="130"></e-grid-column>
        <e-grid-column headerText="Actions" width="150" template="#actionTemplate"></e-grid-column>
    </e-grid-columns>
</ejs-grid>

<script id="actionTemplate" type="text/x-template">
    <a href="/Students/Edit/${Id}" class="btn btn-sm btn-warning me-1"><i class="fa fa-edit"></i></a>
    <a href="/Students/Details/${Id}" class="btn btn-sm btn-info me-1"><i class="fa fa-eye"></i></a>
    <a href="/Students/Delete/${Id}" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></a>
</script>

@section Scripts {
    <ejs-scripts></ejs-scripts>
}
