@model IEnumerable<EscolaInfoSys.Models.Dtos.StudentAbsenceStatusDto>



@{
    ViewData["Title"] = "My Absences";
}


<h2 class="mb-4"><i class="fa fa-calendar-times me-2 text-danger"></i> My Absences</h2>

@if (!Model.Any())
{
    <div class="alert alert-success">No absences recorded. Keep up the good attendance!</div>
}
else
{
    @if ((bool)(ViewBag.IsExcluded ?? false))
    {
        <div class="alert alert-danger mb-4">
            <i class="fa fa-exclamation-triangle me-2"></i>
            You have been excluded from the following subjects due to excessive absences:
            <ul>
                @foreach (var subject in (List<string>)ViewBag.ExcludedSubjects)
                {
                    <li>@subject</li>
                }
            </ul>
        </div>
    }

    <div id="AbsencesGrid"></div>
}

@section Scripts {
    <link href="https://cdn.syncfusion.com/ej2/30.1.47/material.css" rel="stylesheet" />
    <script src="https://cdn.syncfusion.com/ej2/30.1.47/dist/ej2.min.js"></script>

    <script>
        ej.base.enableRipple(true);

        var absencesData = @Html.Raw(System.Text.Json.JsonSerializer.Serialize(Model));

        var grid = new ej.grids.Grid({
            dataSource: absencesData,
            allowPaging: true,
            allowSorting: true,
                   columns: [
            { field: 'SubjectName', headerText: 'Subject', width: 150 },
            { field: 'AbsencesCount', headerText: 'Absences', width: 100 },
            { field: 'AbsencePercentage', headerText: '% Absences', format: 'N1', width: 120 },
            {
                field: 'IsExcluded',
                headerText: 'Excluded',
                template: function(data) {
                    return data.IsExcluded ? '<span style="color:red; font-weight:bold;">Yes</span>' : 'No';
                },
                width: 100
            }
        ],
            pageSettings: { pageSize: 10 }
        });
        grid.appendTo('#AbsencesGrid');
    </script>
}
